<template name="comment_form">

    <!-- Button to show/hide the form below -->
    <a class="btn btn-default btm-margin js-toggle-comment-form" href="#" title="Add a new comment">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>

    <!-- Form for adding a new comment -->
    <div id="comment_form" class="hidden_div">
        {{#with website}}

        <form class="js-save-comment-form" novalidate>

            <div class="form-group rel-pos-m20">
                <label for="comment_text">* Comment</label>
                <textarea rows="5" class="form-control bk-yellow" id="comment_text" name="comment_text"
                       placeholder="This website is my favorate" required></textarea>
                {{#if comment_error}}<div class="error-text">This field is required</div>{{/if}}
                {{#if comment_error_2}}<div class="error-text">Don't be sparing of words &mdash; write at least 5 symbols</div>{{/if}}
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
            <button type="submit" class="btn btn-default js-clear-comment-form">Clear</button>
        </form>

        {{/with}}
    </div>

</template>
