<!-- Top level template for the home page -->
<template name="home">
    {{> available_user_list}}
</template>


<!-- display a list of users -->
<template name="available_user_list">

    <h2>Choose someone to chat with:</h2>
    <div class="row">
    {{#each users}}
        {{> available_user}}
    {{/each}}
    </div>

</template>


<!-- display an individual user -->
<template name="available_user">
    <div class="col-md-3">
        <div class="user-avatar">
            {{#if isMyUser _id}}
            <div class="bg-success">{{getUsername _id}} (YOU)
                <br>
                <img src="/{{profile.avatar}}" class="avatar-img">
            </div>
            {{else}}
            <a href="/chat/{{_id}}">
                {{getUsername _id}}
                <br>
                <img src="/{{profile.avatar}}" class="avatar-img">
            </a>
            {{/if}}
        </div>
    </div>
</template>
