<template name="trackItem">

    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <div class="track-name">{{track.title}}</div> 
            <button class="js-track" data-trackid="{{track._id}}" title="Play or mute the track">
                {{#if track.isPlaying}}On{{else}}Off{{/if}}
            </button>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div id="{{track.keyName}}" class="slider-style"></div>
            <div class="js-speed-value"></div>   <!-- {{speedSliderVal}} -->
        </div>
        <div class="col-xs-4 col-sm-4">
            <div id="{{track.keyName}}_2" class="slider-style"></div>
            <div class="js-volume-value"></div>
        </div>
    </div>

</template>
