.track-name {
  width: 75px;
  display: inline-block;
}

.slider-style {
    display: inline-block;
    width: 80%;
}

.js-speed-value, .js-amplitude-value {
    display: inline-block;
    margin: 0 0 0 4px;
    font-size: 0.85em;
}
