/* http://www.w3schools.com/cssref/css_colornames.asp */

.bk-yellow {
    background-color: #fefdeb;
}

.rel-pos-m20 {
    position: relative;
    margin-bottom: 20px;
}
.error-text {
    color: red;
    position: absolute;
    bottom: -19px;
    padding: 0 3px;
}

.loading-gif {
    display: none;
    font-style: italic;
    color: darkcyan;
}

.loading-wrapper {
    display: inline-block;
}

.add-btn-m20 {
    margin-right: 20px;
}
.search-wrapper {
    display: inline-block;
}

.top-margin {
    margin-top: 20px;
}

.form-inline-my {
   box-sizing: border-box;
}
.form-inline-my .form-group {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
 }
.form-inline-my .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


