/* http://www.w3schools.com/cssref/css_colornames.asp */

.bk-yellow {
    background-color: #fefdeb;
}

.rel-pos-m20 {
    position: relative;
    margin-bottom: 20px;
}
.error-text {
    color: red;
    position: absolute;
    bottom: -19px;
    padding: 0 3px;
}

.loading-gif {
    display: none;
    font-style: italic;
    color: darkcyan;
}

.loading-wrapper {
    display: inline-block;
}
