<template name="website_form">

    <a class="btn btn-default js-toggle-website-form" href="#">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>

    <div id="website_form" class="hidden_div">
        <form class="js-save-website-form" novalidate>

            <div class="form-group rel-pos-m20">
                <label for="url">* Site address</label>
                <input type="text" class="form-control bk-yellow" id="url" name="url"
                       placeholder="http://www.mysite.com" required>
                {{#if url_error_required}}<div class="error-text">This field is required</div>{{/if}}
                {{#if url_error_invalid}}<div class="error-text">Site address should be a valid URL</div>{{/if}}
            </div>

            <div class="form-group rel-pos-m20">
                <label for="title">* Title</label> 
                <div class="loading-wrapper">
                    <div id="loading-gif" class="loading-gif">&nbsp;Retrieving title from the website...
                        <img src="img/loading.gif" alt="Trying to extract title...">
                    </div>
                </div>
                <input type="text" class="form-control bk-yellow" id="title" name="title"
                       placeholder="Mysite" required>
                {{#if title_error}}<div class="error-text">This field is required</div>{{/if}}
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control bk-yellow" id="description" name="description"
                       placeholder="I found this site really useful for ...">
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
            <button type="submit" class="btn btn-default js-clear-form">Clear</button>
        </form>
    </div>

</template>

