<template name="website_form">

    {{#if currentUser}}
    <a class="btn btn-default add-btn-m20 js-toggle-website-form" href="#" title="Add a new website">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    {{/if}}

    <div class="search-wrapper"> <!-- style="border:1px solid black;width:100%;" -->
        <form class="form-inline-my js-search-start">
            <div class="form-group">
                <input type="text" class="form-control bk-yellow" id="search_input"
                        placeholder="search...">
                <button type="submit" class="btn btn-default" title="Start searching">Go</button>
                <button type="button" class="btn btn-default js-search-reset" title="Reset the search filter">Reset</button>
            </div>
        </form>
    </div>


    {{#if currentUser}}
    <div id="website_form" class="hidden_div">
        <form class="js-save-website-form" id="save-website-form" novalidate>

            <div class="form-group rel-pos-m20">
                <label for="url">* Site address</label>
                <input type="text" class="form-control bk-yellow" id="url" name="url"
                       placeholder="http://www.mysite.com" required>
                {{#if url_error_required}}<div class="error-text">This field is required</div>{{/if}}
                {{#if url_error_invalid}}<div class="error-text">Site address should be a valid URL</div>{{/if}}
            </div>

            <div class="form-group rel-pos-m20">
                <label for="title">* Title</label> 
                <div class="loading-wrapper">
                    <div id="loading-gif" class="loading-gif">&nbsp;Trying to pull Title from the website...
                        <img src="img/loading.gif" alt="Trying to extract title...">
                    </div>
                </div>
                <input type="text" class="form-control bk-yellow" id="title" name="title"
                       placeholder="Mysite" required>
                {{#if title_error}}<div class="error-text">This field is required</div>{{/if}}
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control bk-yellow" id="description" name="description"
                       placeholder="I found this site really useful for ...">
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
            <button type="submit" class="btn btn-default js-clear-form">Clear</button>
        </form>
    </div>
    {{/if}}

</template>

