<!-- display an individual user -->
<template name="availableUser">

    <div class="col-md-3">
        <div class="user-avatar">
            {{#if isMyUser user._id}}
                <div class="bg-green">{{getUsername user}} (me)
                    <br>
                    <img src="/{{getAvatar user}}" class="avatar-img">
                </div>
            {{else}}
                <a href="/chat/{{user._id}}">
                    {{getUsername user}}
                    <br>
                    <img src="/{{getAvatar user}}" class="avatar-img">
                </a>
            {{/if}}
        </div>
    </div>

</template>
