<!-- template that displays individual website entries -->
<template name="website_item">

<!-- INDEX: {{../@index}}   -   this does NOT work: @index == undefined -->

    <li class="btm-margin">
        <div class="{{#if isEven itemIndex}}bk-lightgrey{{/if}}">
        {{#with website}}
	        <a href="{{ url }}" target="_blank"><strong>{{title}}</strong></a>
	        <p>{{description}}</p>
            <p class="grey-small">
                Added: {{formatDate createdOn}}

                <br>Votes:
                <a href="#" class="btn btn-default btn-xs bk-grey js-upvote" title="Up vote">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                {{votePlus}}
                <a href="#" class="btn btn-default btn-xs bk-grey js-downvote" title="Down vote">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>
                {{voteMinus}}

                <br><a href="/website-details/{{_id}}">Details and comments</a>  
            </p>
        {{/with}}
        </div>
    </li>

</template>
