<template name="playground">
                        <!-- Remember - if you want to control functions globaly, don't declare them as var. Just name them -->
{{#if notReady}}
    {{> loading}}

{{else}}
<div class="container width-100">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-header">Track</div>
        <div class="col-xs-4 col-sm-4 col-header">Speed</div>
        <div class="col-xs-4 col-sm-4 col-header">Amplitude</div>
    </div>

    {{#each track in tracks}}
        {{> trackItem track=track}}
    {{/each}}

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <hr class="hr-color">
            <button class="btn btn-default js-play-all btn-brown">{{#if isPlaying}}Stop{{else}}Start{{/if}}</button>
        </div>
    </div>

</div>
{{/if}}

</template>


<!--
    <div class="row">
        <div class="col-xs-6">
            <h2>
                // {{#each tracks}}
                //    * {{ [Template.playground.__helpers.get keyName] }}
                // {{/each}}
                {{drums}} {{caxi}} {{arp}} {{hihat}} {{bongo}} {{crowd}} {{horn}} {{tom}}
            </h2>
        </div>
    </div>
-->
